body{

    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    display: flex;


}
h2{
    color: #1877F2;
    text-align: center;
    font-size: 100px;

}
.insert{
    flex-direction: row;
    align-items: center;
    display: flex;

}
input{
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    height: 25px;

}
button{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;


}
.done{

    text-decoration: line-through;
    color: gray;





}
ul{
    padding: 0;
    list-style-type: none;
    

}
li{

    display: flex;
    align-items: center;
    gap:8px ;
    border-radius: 10px;
    padding: 10px;


}