body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    background: #ecedff;
    margin: 210px;
}

.container {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(32, 229, 203, 0.1);
    width: 350px;
    text-align: center;
}

.history-container {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(32, 229, 203, 0.1);
    width: 350px;
    text-align: center;
}

.input-container {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #fff;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 3, 3, 0.1);
}

li.completed {
    text-decoration: line-through;
    color: #1e9500;
}

li:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.delete-btn {
    background: red;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background: darkred;
}

.done-bt {
    background: red;
    border-radius: 5px;
    cursor: pointer;
}

.done-bt:hover {
    background: darkred;
}